
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Ignore Python cache folders
__pycache__/

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
.env

# Optional: ignore virtual environments
venv/
.venv/
env/
.env