/* .page-header h1 {
    font-size: 28px;
    margin-bottom: 6px;
}

.page-header p {
    color: #54aee8;
    font-size: 16px;
    margin-bottom: 28px;
}

.report-table {
    width: 100%;
    max-width: 980px;
    border-collapse: separate;
    border-spacing: 0;
    background: #efeffb;
    border: 1px solid #cfd2f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.report-table thead th {
    text-align: left;
    padding: 18px 20px;
    font-size: 16px;
    border-bottom: 1px solid #cfd2f9;
}

.report-table tbody td {
    padding: 12px 20px;
    font-size: 16px;
    border-bottom: 1px solid #cfd2f9;
}

.report-table tbody tr:last-child td {
    border-bottom: none;
}

.pagination {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    font-weight: 700;
}

.review-btn {
    text-decoration: None;
    background: #cfd4ff;
    color: #222;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.review-btn:hover {
    opacity: 0.9;
} */