<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Scoop</title>
    <link rel="stylesheet" href="../../static/css/Unregistered/UnregHome.css" />
  </head>
  <body>
    <button onclick="loadUsers()">Load Users</button>

    <ul id="users"></ul>

    <script>
      function loadUsers() {
        fetch("http://localhost:5000/users")
          .then((res) => res.json())
          .then((data) => {
            let list = document.getElementById("users");
            list.innerHTML = "";

            data.forEach((user) => {
              let li = document.createElement("li");
              li.textContent = user.name;
              list.appendChild(li);
            });
          });
      }
    </script>
  </body>
</html>
