<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Scoop</title>
    <link rel="stylesheet" href="../../static/css/Unregistered/UnregLogin.css" />
  </head>

  <header class="navbar">
    <div class="logo">
      <a href="/templates/Unregistered/UnregHome.html">
         <h1>Daily Scoop</h1>
        <h1>News System</h1>
      </a>
    </div>

    <nav class="navLinks">
      <a href="/templates/Unregistered/UnregCompanyProf.html">Company Profile</a>
       <a href="/templates/Unregistered/UnregHome.html#product-feature">Product Feature</a>
      <a href="/templates/Unregistered/UnregHome.html#articles">Articles</a>
      <a href="/templates/Unregistered/UnregSubscription.html">Subscription</a>
      <a href="/templates/Unregistered/UnregTestimonial.html">Testimonials</a>
      <a href="/templates/Unregistered/UnregLogin.html">Log In</a>
    </nav>
  </header>

  <body>
    <h2>
      Don't have an account? Click here to
      <a href="/client/UnregRegAcc.html">register now!</a>
    </h2>
  </body>

  <footer class="footer">
    <div class="footer-container">
      <!-- Brand Section -->
      <div class="footer-brand">
        <h3 class="footer-title">Daily Scoop News</h3>

        <p class="footer-description">
          Delivering reliable and AI-powered news to keep readers informed with
          credible and up-to-date stories.
        </p>

        <div class="footer-social">
          <a
            href="https://facebook.com"
            target="_blank"
            class="footer-social-icon facebook"
            rel="noopener"
            >f</a
          >

          <a
            href="https://linkedin.com"
            target="_blank"
            class="footer-social-icon linkedin"
            rel="noopener"
            >in</a
          >

          <a
            href="https://x.com"
            target="_blank"
            class="footer-social-icon twitter"
            rel="noopener"
            >in</a
          >
        </div>
      </div>

      <!-- Links Section -->
      <div class="footer-links-section">
        <h4 class="footer-links-title">Social Links</h4>

        <div class="footer-links">
          <a href="/contact" class="footer-link">Contact Us</a>
          <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
          <a href="/about" class="footer-link">About Us</a>
          <a href="/terms" class="footer-link">Terms & Conditions</a>
          <a href="/support" class="footer-link">Need help? Reach us here.</a>
          <a href="/advertise" class="footer-link">Advertise with us</a>
        </div>
      </div>
    </div>
  </footer>
</html>
