{% extends "admin_base.html" %}
{% block verified_active %}active{% endblock %}
{% block content %}
<style>

/* .category-main-wrapper{
    padding:40px;
} */

.page-title{
    font-size:28px;
    margin-bottom:45px;
}

.section-card{
    max-width: 520px;
    background:white;
    border-radius:18px;
    padding: 32px 28px;
    margin-bottom:28px;
    margin-right: 80px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    align-items:center;
}

.section-left h2{
    font-size:24px;
    margin-bottom:6px;
}

.section-left p{
    color:#54aee8;
    width:420px;
    line-height: 22px;
}

.edit-btn{
    font-size: 14px;
    background:#4A6CF7;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    font-weight:600;
    cursor:pointer;
    margin-top: 20px;
}

.edit-btn:hover{
    background:#3b5de0;
}

</style>


<div class="category-main-wrapper">

    <h1 class="page-title">Verified Badge Management</h1>


    <!-- Update eligibility rule -->
    <div class="section-card">

        <div class="section-left">
            <h2>Update Eligibility Rule</h2>
            <p>
                Set eligibility rule for the application of premium verified badge.
            </p>
        </div>

        <button
            class="edit-btn"
            onclick="window.location.href='{{ url_for('admin_verified.verified_badge_rule_page') }}'">
            Edit
        </button>

    </div>

    <!-- View requests -->
    <div class="section-card">

        <div class="section-left">
            <h2>View Requests</h2>
            <p>
                Review application requests and make approval decision.
            </p>
        </div>

        <button
            class="edit-btn"
            onclick="window.location.href='/admin/verified-requests'">
            View
        </button>

    </div>

</div>

{% endblock %}
