{% extends "admin_base.html" %}

{% block content %}

<h1>Category Management</h1>

<div class="card">
    <h3>Article Category</h3>
    <p>Manage article categories</p>

    <button class="primary-btn"
            onclick="window.location.href='/admin/article-category'">
        View
    </button>
</div>

<div class="card">
    <h3>Report Category</h3>
    <p>Manage report categories</p>

    <button class="primary-btn"
            onclick="window.location.href='/admin/report-category'">
        View
    </button>
</div>

{% endblock %}
